@import './utils/variables.scss';

@import './base/reset.scss';

@import './utils/hidden.scss';

@import './utils/anamations' ;

@import './utils/mixins' ;

@import './base/container' ;

@import './layout/logo' ;

@import './components/btn.scss';

@import './components/socialslink' ;

@import './layout/header-nav' ;

@import './layout/hero' ;

@import './layout/performance' ;

@import './layout/responsibility' ;

@import './layout/coworkers' ;

@import './layout/client' ;

@import './layout/footer' ;

@import './portfoliopaje/btnsed' ;

@import './portfoliopaje/cardsed' ;

@import './portfoliopaje/overlay' ;

@import './components/modal' ;











