.fone{
    background: #F5F4FA;
   }
  .stuf-block {
    display: flex;
    flex: wrap;
  
    padding: 0;
    margin: 0;
  
    margin-left: -30px;
    margin-top: -30px;
    padding-bottom: 94px;
    margin-bottom: 94px;
    }
   
   .photo-stuf {
        flex-basis: ((100% - 4*30)/4);
        margin-left: 30px;
        margin-top: 30px;
        border-radius: 0px 0px 4px 4px;
        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    }
    
    .title-stuf{
    text-align: center;
    padding: auto;
   
    padding-top: 94px;
    padding-bottom: 50px ;
    
    }
  .stuf-socials{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .stuf-name {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
  
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
  }
  .stuf-position {
  text-align: center;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
  }
  .social-item:not(:last-child){
      margin-right: 10px;
      &{
        display: flex;
        justify-content: center;
      }
    }
  
  .icon-social{
    fill: currentColor;;
  }
  