.jeneral-box{
    display: flex;
    }
    .box-one{
    display: flex;
    flex-direction: column;
    }
    
    .l-items{
      display: block;
     }
    
    .address-items{
      display: block;
      padding-top: 20px;
      }
    
    .malto-items{
      display: block;
      padding-top: 9px;
    }
    
    .phone-items{
      display: block;
      padding-top: 9px;
    }
    .footer-address{
      padding-right: 70px;
    text-decoration: none; 
    font-size: 14px;
    line-height: 1.7;
    color: var(--white-color-text);
    }
    .footer-mail{
    text-decoration: none;  
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
    }
    .footer-tel {
      text-decoration: none; 
      font-size: 14px;
      line-height: 1.7;
      color: rgba(255, 255, 255, 0.6);
    
    }
    .footer-color{
      display: block;
      
      padding-top: 60px;
      padding-bottom: 60px;
      background-color: var(--background-second-color);
    }
    .studio-white{
      color: var(--white-color-text);
    }
    .box-second{
    display: flex;
    flex-direction: column;
    
    }
    .footer-text{
    margin-bottom: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #FFFFFF;
    }
    .footer-box{
      color: var(--white-color-text);
      width: 44px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.1);
    
      transition-property: background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
      &:hover {
        color: var(--white-color-text);
       background: #2196F3;
      }
    }
    
    
    
    .icon-footer{
      margin-left: 156px;
    }
    .footer-list{
    display: flex;
    padding-right: 93px;
    
    }
    .box-third{
    margin-left: auto;
    }
    
    .icon-fly{
     position: relative; 
     
    }
    
    .fallow-text{
      display: block;
    
    padding-bottom: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #FFFFFF;
    }
    
    .fallow-me {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: #2F303A;
    color: rgba(255, 255, 255, 0.6);
    &::placeholder {
      padding-left: 16px;
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
      }
      &:focus::placeholder {
        color: rgba(255, 255, 255, 0.6);
      }
    }
  
    
   
    .btn-fallow{
      
    padding: 10px 62px 10px 29px;
    width: 200px;
    height: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.67;
    letter-spacing: 0.06em;
    
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border:none;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
        color: var(--white-color-text);
        background: #188CE8;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      }
    }
    
    
    .icon-fallow{
      position: absolute;
      display: block;
      top: 13px;
      right: 33px;
     
      transform:translateY(-50%) ;
      display: inline-block;
      
    }
    