.backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
     
    background-color: rgba(0, 0, 0, 0.2);
    }
    .modal-text{
    display: block;
    
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    
    color: #212121;
    
    }
    .modal {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      
        min-width: 528px;
        min-height: 581px;
        
      background: #FFFFFF;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 4px;padding: 40px;
      } 
      .icon-close{
      transition: fill  cubic-bezier(0.4, 0, 0.2, 1) ;
         
      }
      .icon-close:hover{
        fill: #2196F3;
      }
      .btn-open{
      position: absolute;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid rgba(0, 0, 0, 0.1);
      background: #FFFFFF;
      
      right: 8px;
      top: 8px;
      }
    
      .backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opaciti 300ms, visabiliti 300ms;
      }
    
      .modal-form-label{
        display: block;
        margin-bottom: 4px;
        padding-right: 42px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    fill:#212121;
    
      }
    
    .modal-form-input{
    width: 448px;
    height: 40px;
    
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border cubic-bezier(0.4, 0, 0.2, 1) ;
    
    }
    
    .modal-form-input:hover:focus + .modal-form-icon{
      fill:   #2196F3;  
    }
    .modal-form-input:hover:focus{
      border: 1px solid #2196F3; 
    } 
    
    .modal-form-field{
      margin-bottom: 28px;
    }
    
    .modal-form-icon{
      position: absolute;
     
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
      color: #212121;
      /* transition: fill  cubic-bezier(0.4, 0, 0.2, 1) ; */
    
    }
    .input-wrap{
      display: block;
      position: relative;
    }
    
    .modal-coment{
      width: 100%;
      height: 120px;
      padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
    }
    
    .modal-coment::placeholder{
      font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    
    color: rgba(117, 117, 117, 0.5);
    
    }
     .check-label{
      display:flex;
      align-items: center;
      justify-content: center;
     
     margin-bottom: 30px;
      padding-left: 9px;
    
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
    }
    .color-link{
      padding-left: 4px;
      color:  #188CE8;
    }
    .icon-chek{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 16px;
    height: 15px;
    border-radius: 2px;
    margin-right: 7px;
    border: 2px solid #141313;
    transition: fill  cubic-bezier(0.4, 0, 0.2, 1) ;
    } 
    
    .checkbox:checked +.check-label >.icon-chek {
      background: #2196F3;
      border:  transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      }
      .icon-chek:focus{
        border: 2px solid #141313;
    
    }
      .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        border: 0;
        clip: rect(0 0 0 0);
    }
    .btn-form{
      display: block;
      padding: 10px 55px 10px 56px;
      margin: 0 auto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    
    color: #FFFFFF;
    
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .btn-form:focus,
    .btn-form:hover {
        color: var(--white-color-text);
        background: #188CE8;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }